/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600&family=Roboto:wght@700&display=swap');
/* common css */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5; 
    margin: 0;
    padding: 0;
}
.container{
    width: 98%;
    height: 556px;
    margin: 0 auto;
    
}
/* header sections */
.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #161616;
    border-radius: 15px;
}
.containers{
    display: flex;
    justify-content: center;
}
.header-info {
    height:520px;
    margin-left: 70px;
}
.header-info h2{
    font-size: 50px;
    color:sandybrown;
    width: 450px;
    height: 80px;
    font-weight: 700;
    top: 161px;
}
.header-info p{
    font-size: 20px;
    color: #FFFFFF;
    width: 450px;
    height: 50px;
    margin-top: 100px;
    margin-bottom: 150px;
}
.header-info a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: chocolate;
    width: 287px;
    left: 246px; 
    border: 1px solid ;
    border-radius: 15px;
    padding: 10px 15px;
    transition: width 5s ;
}
.header-info a:hover{
    color: salmon;
    background-color:slategrey;
    transform:  rotate(20deg)  ;
    
}

.header-picture img {
    width: 583px;
    height: 500px;
    margin-left: 300px;
}
/* aside sections */

.aside{
    display: flex;
    float: left;
}
.aside{
    background-color: dimgray;
    width: 350px;
    height: 350px;
    border: 1px solid;
    border-radius: 20px;
    margin-left: 30px;
  }
  .aside-content{
    display: grid;
    justify-content: center;
    width: 300px;
    height: 300px;
  }
  .aside a{
    text-decoration: none;
    margin-top: 40px;
  }
  .content-1, 
  .content-2,
  .content-3{
    text-align: center;
    color: black ;
    background-color:#FFFFFF ;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    padding:5px 5px;
    margin: 45px 0 0 38px;
    border-radius:10px ;
  }
  .content-3{
    color: white;
    background-color:red ; 
  }
.blogs{
    margin-left: 400px;
    width: 80%; 
}
.blogs-container{
   
}
.blog-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);  
    align-items:center; 
}
.blog {
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
    border: 2px solid darkcyan;
    border-radius: 10px;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
}
.blog img{
    width: 400px;
    height:220px;
}
.blog h4{
    margin-top: 5px;
    margin-left: 5px;
    font-size:20px ;
    padding: 2px;
    border: 1px solid slategray;
    width: 90px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.blog p{
    font-size: 20px;
    margin-left: 10px;
}
.icons a{
    color: gray;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    
}
/* footer sections */
.footer{
    width: 100%;
    height: 300px;
     background-color: #161616;
     border: 1px solid black;
     margin-top: 50px;
}
.footer h2{
    color: #E5E5E5;
    font-size: 25px;
    margin: center;
    margin-top: 100px;
    margin-left: 50%;
}
hr{
    width: 70%;
}

.nav-ber ul {
    list-style: none;
   margin-left: 350px;
}
.nav-ber ul li{
    float: left;
}
.nav-ber li a{
    color: #E5E5E5;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
}

@media only screen and (max-width:688px){
    .container{
       
    }
    .content{
        grid-template-columns: repeat(1,1fr);
        justify-content:space-between;
    }
    .containers{
        flex-direction: column;
    }
    .aside,.blogs,.footer{
        display: none;
    }
    
}